.rectangulo {
    height: 570px;
    width: 1200px;
    background-color: white;
}

body{
    background-color: #F9CB9C;

}
.iconos{
    display:flex;
    flex-direction: column; 
    gap: 10px;  
}

.iconos div {
    width: 80px;
    height: 70px;
    border-radius: 10px;
  }


.container{
    display: flex;
    align-items: flex-start;

}

header{
    padding:8px
}