body{
    background-image: url(img/loginbg.png);
        background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    font-family: 'Space Grotesk', 'Segoe UI';
    
}
.rectangulo {
    height: 400px;
    width: 900px;
    background-color: white;
    margin-left:420px;
    margin-top:80px;
    font-family: 'Space Grotesk', 'Segoe UI';
    border-radius:25px;
    border-color:black;
    border-style:solid;    

}  
h1{
    margin-left:220px;
    font-size:60px
    
}
a{
    margin-left:305px;
}
.btn{
    margin-left:375px;
}